@model IEnumerable<DaycareCenter.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shift_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shift_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shift_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shift_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shift_Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Shift_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Shift_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Shift_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
